.event {
    background-image: url("../img/events-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    border-bottom: 7px solid #ff9b08;
    width: 90%;
    overflow: hidden;
    clear: both;
    .overlay {
        background-color: rgba($color: #000000, $alpha: 0.8);
        z-index: 1;
        height: 650px;
        width: 100%;
        padding: 60px 0;

        h1 {
            @extend %h1;
            color: #FFF;
        }

        .event-box {
            margin-top: 50px;
            background-color: rgba($color: #FFF, $alpha: 0.1);
            z-index: 3;
            padding: 30px ;
            min-width: 100%;
            min-height: 450px;
            text-align: left;
            h3 {
                font-family: $font3;
                font-size: 25px;
                color: $main-color;
                font-weight: 600;
            }
            .price {
                p {
                    font-family: $font4;
                    font-weight: 800;
                    width: 13%;
                    font-size: 30px;
                    border-bottom: 2px solid $main-color;
                    color: #FFF;
                }
            }
            p {
                color: #FFF;
                font-family: $font4;
                font-weight: 400;
            }
            .font-italic {
                font-style: italic;

            }
            ul {
                li {
                    color: #FFF;
                    font-family: $font4;
                    font-weight: 400;
                    i {
                        color: $main-color;
                        font-size: 20px;
                        padding-right: 5px;
                    }
                }
            }

            .owl-theme {
                .owl-dots  {
                    .owl-dot  {
                        span {
                            width: 15px;
                            height: 15px;
                        }
                    }
                    .active {
                        span  {
                            background: $main-color;
                        }
                    }
                }
            }
            
        }

    }
}