@media (max-width: 991px){
 

                                header {  
                                    .numbers {
                                        text-align: center;
                                    } 
                                nav {
                                    
                                ul{
                                    position: fixed;
                                    width: 100%;
                                    height: 100vh;
                                    background: rgba($color: #000000, $alpha: 0.5);
                                    top: 50px;
                                    left: -100%;
                                    text-align: center;
                                    transition: all .5s;
                                    z-index: 99999;
                                    li{
                                        display: block;
                                        margin: 10px auto;
                                        line-height: 30px;
                                        
                                        .link{
                                            font-size: 17px;
                                        display: inline-block;
                                        }
                                    }
                                }

                                }
                                #check:checked ~ ul{
                                left: 0;
                                }
                                #check:checked ~ label #btn{
                                display: none;
                                }
                                #check:checked ~ label #cancel{
                                display: block;
                                }
                                label  {
                                    position: absolute;
                                    top: 5%;
                                    right: 0%;
                                    z-index: 99999;
                                    width: 95%;
                                    h2 {
                                        a {
                                            &:hover{
                                                color: $main-color;
                                            }
                                        }
                                    }
                                    #btn{
                                    display: block;
                                    }
                                }
                                .word {
                                    p {
                                        width: 80%;
                                        font-size: 14px;
                                    }
                                }
                                }
                                .event {
                                    height: 1050px;
                                    .overlay {
                                    height: 1050px;
                                    }
                                }
                                .contact {
                                    .information  {
                                        .info {
                                            margin: 20px 0;
                                        }
                                    }
                                }
                                .chef {
                                    height: 1400px;
                                    .overlay {
                                        height: 1400px;
                                        .info:last-of-type {
                                            margin-top: 150px;
                                        }
                                    }
                                }
                            }
  

@media (max-width: 1200px) and (min-width: 991px){
   header {
    nav {
        ul {
            li {
                .link {
                    padding: 9px 10px;
                }
            }
        }
    }
   }
   .event {
       height: 750px;
       .overlay {
       height: 750px;
       }
   }
}


@media (max-width: 767px){
    .special {
        .nav-pills {
            margin-bottom: 40px;
            .active {
                background-color: $main-color;
                color: #FFF;
                padding-left: 10px;
                &:hover{
                    color: #FFF;
                }
            }
        }
    } 

    %p {
        
            width: 70%;
            
    }
    .chef {
        height: 2300px;
        .overlay {
            height: 2300px;
            .info {
                margin-top: 150px;
            }
        }
    }
    .testmo {
        .overlay {
            
        .comment {
            img {
                width: 20%;
            }
            p {
                width: 100%;
            }
        }
        }
    }
    
}