$main-color: #ffb03b;
$font1:'Poppins', sans-serif;
$font2: 'Pacifico', cursive;;
$font3: 'Satisfy', cursive;
$font4:"Poppins", sans-serif;

$tran : all 0.3s ease-in-out;

%h1 {
    font-family: $font3;
        color: #5f5950;
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        span {
            color: $main-color;
            font-family: $font3;

        }
}

%p {
    font-family: $font1;
        font-size: 1rem;
        color: #222;
        width: 50%;
        text-align: center;
        margin: 20px auto;
}